* {
padding: 10px;
background-color: white;
}

main {
    background-color: #ecf0f1;
    font-family: Arial;
    font-size: 1em;
    color: black;
    }
    
    h1 {
    font-family: Lobster, cursive;
    font-size: 2em;
    
}
h2 {
    font-family: Arial, sans-serif ;
    color: #2ecc71;
    font-size: 1.5em;
}
ul {
    font-family: Courier, serif;
    color: black;
    list-style-type: circle;
    padding-left: 50px;
}

footer {
    background-color:#2ecc71;
    font-family: Arial;
    color: #ecf0f1;
}
